.product-card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 300px;
    height: 400px;
    border: 1px solid rgb(44, 98, 107);
    border-radius: 5px;
}

.product-card:hover {
    background-color: rgb(48, 48, 48);
}

.product-card > .card-image {
    height: 250px;
    overflow: hidden;
    background-color: rgb(51, 70, 82);
}

.card-image > img {
    margin-top: 15px;
    height: 90%;

}

.product-card > .card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.card-body > .card-heading {
    font-size: 18px;
    height: 3rem;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;
    overflow: hidden;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .card-price {
        font-style: italic;
    }
}

.card-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
