#cart {
    width: 100%;
    margin: 0 auto;

    .cart-content {
        padding: 15px;
        border: 1px solid rgb(44, 98, 107);
        border-radius: 10px;
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    hr {
        margin-top: 10px;
        height: 2px;
        background-color: rgb(44, 98, 107);
        border: none;
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-item-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        
        button {
            font-size: 12px;
            padding: 0px 5px;
            height: 20px;
        }
    }

    .cart-total {
        text-align: right;
        margin-top: 10px;
    }

    .checkout-form > form {
        display: flex;
        flex-direction: row;
        justify-content: right;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

    .form-field {
        display: flex;
        flex-direction: column;

        .form-alert {
            text-align: left;
            font-size: 14px;
            margin-top: 3px;
            font-style: italic;
            color: rgb(55, 176, 197);
        }
    }


}