:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, input[type="submit"] {
    padding: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(30, 136, 136);
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(27, 78, 78);
}